body {
   font-family: 'Montserrat';
   text-align: center;
}

.section-heading {
   font-size: 3rem;
   line-height: 1.5;
}

.colored-section {
   background-color: #ff4c68;
   color: #fff;
}

.white-section {
   background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}

p {
   color: #8f8f8f;
}

/* Headings */
.big-heading {
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   font-weight: bold;
}

/* Navigatiion Bar */
.navbar {
   padding: 0 0 4.5rem;
}

.nav-item {
   padding: 0 18px;
}

.nav-link {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
}

.navbar-brand {
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}

.container-fluid {
   padding: 7% 15%;
}

/* Button Download */
.download-btn {
   margin: 5% 3% 5% 0;
}

#title .container-fluid {
   padding: 3% 15% 7%;
   text-align: left;
}

/* Title Image */
.title-image {
   width: 50%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
}

/* feature section */
#features {
   background-color: #fff;
   position: relative;
}

.feature-title {
   font-size: 1.5rem;
}

.feature-box {
   padding-top: 5%;
}

.icon {
   padding-bottom: 4%;
   color: #ef8172;
}

.icon:hover {
   color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
   background-color: #ef8172;
}

.testimonial-img {
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

.carousel {
   padding-top: 5%;
}

.carousel-item {
   padding: 0 15%;
}

.testimonial-text {
   font-size: 2rem;
   line-height: 1.5;
}

/* Press Section */
#press {
   background-color: #ef8172;
   padding-bottom: 3%;
}

.press-img {
   width: 15%;
   margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
   padding: 100px;
}

.pricing-column {
   padding: 3% 2%;
}

.price-text {
   font-size: 3rem;
   line-height: 1.5;
}

/* CTA Section */
#cta {}

.cta-h3 {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 3rem;
   line-height: 1.5;
}

/* Footer Section */
.social-icon {
   margin: 20px 10px;
}

@media (max-width: 1028px) {
   #title {
      text-align: center;
   }

   .title-image {
      position: static;
      transform: rotate(0);
   }
}
